<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Huellas___Gatos_y_Perros_de_Flores___WiredSoft.Properties.Settings.Connection"
            connectionString="Server=DESKTOP-4M0GEA1\SQLEXPRESS;Database=Gatos_y_Perros_de_Flores;Trusted_Connection=True;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>