<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Huellas___Gatos_y_Perros_de_Flores___WiredSoft.Properties.Settings.Connection"
            connectionString="Data Source=DESKTOP-NI4MEFF;Initial Catalog=Gatos_y_Perros_de_Flores_Final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>